body {
  display: inline-table;;
}

.number {
  padding: 0px 45px;
  background-color: #BCD2EE;
  border: 10px ridge #9CBAFF;
  border-radius: 10px; /*Obtaining round edges*/
  margin-top: 2px;
  color: red;
  font-size: 120px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.highlight {
  background-color:#FFFF00;
  color: green;
}

.highLight {
  background-color:#BDF834;
  color: green;
}

#display {
  color: blue;
  font-size: 20px;
}

button {
  padding: 0px 45px;
  background-color:#00FFFF;
  border-radius: 15px; /*Obtaining round edges*/
  margin: auto; /*centering the button*/
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
  color: #230832;
  text-align: center;
  cursor: pointer;
  margin-left: 3cm;
  margin-top: 0.5cm;
  box-shadow: 0 9px #999;
}
