body {
  background-image: url("http://www.webdesignhot.com/free-vector-graphics/flower-pink-background-vector-art/");
}

.number{
  padding: 0px 45px;
  background-color: #BCD2EE;
  border: 10px ridge #9CBAFF;
  border-radius: 10px; /*Obtaining round edges*/
  margin: auto; /*centering the button*/
  color: red;
  font-size: 150px;
  font-weight: bold;
  margin: auto;
  display: inline;
  text-align: center;
}

.highlight {
  background-color:#FFFF00;
  color: green;
}

#display {
  color: blue;
  font-size: 50px;
  margin-left: 5cm;
  margin-top: 400px;
}
