.number{
  background-color: #BCD2EE;
  border: 10px ridge #012E97;
  border-radius: 10px; /*Obtaining round edges*/
  margin: auto; /*centering the button*/
  color: red;
  font-size: 200px;
  font-weight: bold;
  margin-left: 2cm;
  display: inline;
}

.highlight {
  background-color:#FFFF00;
  color: green;
}

#display {
  color: blue;
  font-size: 50px;
  margin-left: 2cm;
}
